{
    "files_to_gzip_pattern": ".min.",
    "pattern_prefix": "___",
    "pattern_suffix": "___",
    "target_encoding": "iso-8859-1",
    "translated_file_endings": [
        ".h",
        ".hpp",
        ".cpp",
        ".c",
        ".json",
        ".ino",
        ".html"
    ],
    "translation_file": "translations.csv",
    "gzipped_file_ending": ".gz"
}